.userPanel-main{
    width: 99vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    @media (max-width: 1400px){
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    .userPanel-firstItem{
        flex: 2;
        background-color: #eee;
        margin-left:10vw;
        border-radius: 10px;
        border: 1px solid #111;
        padding: 2.5vh 5vw;
        display: grid;
        // grid-column: 1fr, 1fr;
        justify-content: center;
        align-items: center;
        gap: 1vh 5vw;
    }

    .userPanel-secondItem{
        flex: 4;
        padding: 2.5vh 5vw;
        // margin-right: 5vw;
        
    }
}