.userPanel-main{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;

    .userPanel-firstItem{
        flex: 2;
        // background: green;
        padding: 2.5vh 5vw;
        display: flex;
        justify-content: center;
        
    }

    .userPanel-secondItem{
        flex: 3;
        // background: black;
        padding: 2.5vh 5vw;
        
    }
}